form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1.4em
    auto;
  padding: 1.2em;
  box-shadow: 5px
    10px
    5px
    5px
    rgba(
      0,
      0,
      0,
      0.5
    );
}

form
  label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 0.3em
    0;
}

.customer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customer-item {
  margin: 2em
    3em;
  padding: 1.4em;
  box-shadow: 5px
    5px
    5px
    5px
    rgba(
      0,
      0,
      0,
      0.5
    );
  width: 23em;
  margin: 1em
    auto;
}

h2,
h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 1.2em;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10em;
  height: 3em;
  margin: 0
    auto;
}
